<section class="section-sm">
  <div class="container-sm">
    <div class="w-full center mb-1">
      <h1>Sign in to your account</h1>
    </div>
  </div>

  <div class="container-sm">
    <%= render "form" %>
  </div>
</section>