<section class="section-sm">
  <div class="container-sm">
    <p style="color: green"><%= notice %></p>
    <%= render @tweet, like_new: @like_new %>

    <hr class="for-retweets">

    <div>
      <%= render "comment", tweet_new: @tweet_new, parent_tweet: @tweet %>
    </div>

    <div>
      <% @tweet.tweets.each do |retweet| %>
        <%= render retweet, like_new: @like_new %>
      <% end %>
    </div>
  </div>
</section>